<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Youtube Player" %></h2>
  <p class="lead">A simple web application powered by Elixir and Phoenix web framework.</p>
</div>
<%= if @current_user do %>
  <div>Welcome, <%= @current_user.name %></div>
<% end %>
